# Ignore node_modules in all subfolders
    # Ignore node_modules in all subfolders
    **/node_modules/
    **/node_modules/


    # Ignore environment variables
    # Ignore environment variables
    .env
    .env